@model proyectodesarro.Models.Estudiante

<h2>Registrar Estudiante</h2>

<form method="post">
    <label>Nombre:</label>
    <input asp-for="Nombre" /><br /><br />
    <label>Correo:</label>
    <input asp-for="Correo" /><br /><br />
    <button type="submit">Guardar</button>
</form>
